@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
	--amarillo: #ffa303;
	--azul: #002479;
	--azul2: #00234C;
	--blanco: #f7fff7;
	--grisclaro: #D3D4D9;
	--grisoscuro: #BEC0C6;
	--text-muted: #7B828E;
	--celeste: #2696E9
}

.amarillo {
	background-color: var(--amarillo);
}

.azul {
	background-color: var(--azul);
}

.gris {
	background-color: var(--grisclaro);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;

}

a {
	text-decoration: none;
	color: var(--blanco);
}

body {
	background: var(--blanco);
}

hr {
	background-color: var(--blanco);
}

/* S HEADER */

/* header {
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 200px;
	transition: 0.5s ease;
	background: rgb(0, 0, 0);
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.7959558823529411) 0%, rgba(255, 255, 255, 0) 79%);
}

header .img-brand {
	max-height: 3.5rem;
}

header .navigation .navigation-items{
	list-style: none;
}

header .navigation .navigation-items a {
	position: relative;
	color: var(--blanco);
	font-size: 1em;
	font-weight: 700;
	text-decoration: none;
	margin-left: 30px;
	transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
	content: '';
	position: absolute;
	background: var(--amarillo);
	width: 0;
	height: 3px;
	bottom: -3px;
	left: 0;
	transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
	width: 100%;
}

.menu-btn {
	display: none;
} */

/* ********* */

.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 22%, rgba(0, 0, 0, 0.6755077030812324) 100%);
}

.container {
	max-width: 83vw;
	margin: auto;
	padding: 0 15px;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header .logo img {
	vertical-align: middle;
}

.header .menu .head {
	display: none;
}

.header .menu ul {
	list-style: none;
}

.header .menu ul li {
	display: inline-block;
}

.header .menu ul li:not(:last-child) {
	margin-right: 40px;
}

.header .menu .dropdown {
	position: relative;
}

.header .menu .dropdown.active .sub-menu {
	display: block;
}

.header .menu a {
	text-transform: capitalize;
	font-size: 1em;
	font-weight: 600;

	display: block;
}

.header .menu .menu-item {
	position: relative;
}

.header .menu .menu-item:before {
	content: '';
	position: absolute;
	background: var(--amarillo);
	width: 0;
	height: 3px;
	bottom: -3px;
	left: 0;
	transition: 0.3s ease;
}

.header .menu a:hover:before {
	width: 100%;
}

.header .menu .menu-item {
	margin: 20px 0;
}

.header .menu .sub-menu {
	position: absolute;
	top: 100%;
	left: -24px;
	width: 230px;
	padding: 15px 0px;
	background-color: var(--amarillo);
	box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
	z-index: 1;
	transform-origin: top;
	transform: scaleY(0);
	visibility: hidden;
	opacity: 0;
}


.header .menu li:hover .sub-menu {
	opacity: 1;
	transform: none;
	visibility: visible;
	transition: all 0.5s ease;

}

.header .menu .sub-menu a {
	padding: 6px 24px;
	font-size: .9em;
	font-weight: 500;
}

.header .menu .sub-menu span {
	position: relative;
}

.header .menu .sub-menu span:before {
	content: '';
	position: absolute;
	background: var(--azul);
	width: 0;
	height: 3px;
	bottom: -3px;
	left: 0;
	transition: 0.3s ease;
}

.header .menu .sub-menu span:hover:before {
	width: 100%;
}

.header .menu-btn {
	display: none;
}





/* S HOME */
.home {
	padding: 7rem 10rem;
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: #2696E9;
}

.home::before {
	z-index: 777;
	content: '';
	position: absolute;
	background: rgba(3, 96, 251, 0.3);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.home .content {
	z-index: 888;
	color: #fff;
	width: 70%;
	margin-top: 50px;
}

.home .content h2 {
	font-size: 4em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: .7;
	margin-bottom: 40px;
	color: var(--amarillo);
}

.home .content h2 span {
	letter-spacing: 0px;
	line-height: .1;
	font-size: 0.4em;
	font-weight: 600;
	color: var(--blanco);
}

.home .content p {
	margin-bottom: 3rem;
}

.home .video-slider {
	z-index: 000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	clip-path: circle(0% at 0 50%);
}

.home .video-slider.active{
	clip-path: circle(150% at 0 50%);
	transition: 2s ease;
	transition-property: clip-path;
}

/************************/

/* S SLIDER */

.slider-nav {
	z-index: 888;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(80px);
	margin-bottom: 12px;
}

.slider-nav .nav-btn {
	width: 12px;
	height: 12px;
	background: var(--blanco);
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
	transition: 0.3s ease;
}

.slider-nav .nav-btn.active{
	background-color: var(--amarillo);
}

.slider-nav .nav-btn:not(:last-child) {
	margin-right: 20px;
}

.slider-nav .nav-btn:hover{
	transform: scale(1.5);
}

main {
	width: 100%;
	min-height: 100vh;
}

/***************************************/

/* TITLES */

.title {
	position: relative;
	font-size: 3.2vw;
	font-weight: 800;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	margin: auto;
	white-space: nowrap;
	padding-bottom: .3rem;
	color: transparent;
	-webkit-text-stroke: 1px var(--azul);
	width: fit-content;
	line-height: 1.3;
	margin-top: 10px;

}

.title:before {
	content: '';
	position: absolute;
	background: var(--amarillo);
	width: 0;
	height: 3px;
	bottom: 0;
	left: -5px;
	transition: 0.3s ease;
}

.title:hover:before {
	width: 33%;
}


.title2 {
	margin-bottom: 10px;
	font-size: 50px;
	font-weight: 800;
	color: var(--azul);
}

.text {
	font-size: 14px;
	line-height: 2;
	text-align: justify;
}

/* MAIN CARRERAS */
.carreras {
	padding-top: 3rem;
}

.lista-carreras{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px 50px;
	padding: 50px 30px;
}

.card-carrera{
	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: 210px 210px 50px;
	grid-template-areas: "image" "text" "button";

	border-radius: 15px;
	background-color: var(--blanco);
	box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.3);
	text-align: center;
	overflow: hidden;
	background-color: var(--grisclaro);
	transition: 0.5s ease;
}

.card-carrera:hover{
	scale: 1.1;
}

.card-carrera .card-image{
	grid-area: image;
	
}

.card-carrera .card-image.pintura{
	background: url("../img/carrera1.jpg") no-repeat center;
	background-size: cover;
}

.card-carrera .card-image.escultura{
	background: url("../img/carrera3.jpg") no-repeat center;
	background-size: cover;
}

.card-carrera .card-image.musica{
	background: url("../img/carrera2.jpg") no-repeat center;
	background-size: cover;
}

.card-carrera .card-image.artes{
	background: url("../img/carrera4.jpg") no-repeat center;
	background-size: cover;
}

.card-carrera .card-text{
	grid-area: text;
	margin: 25px;
}
.card-carrera .card-text h3{
	text-transform: capitalize;
	color: var(--azul);
	margin-bottom: 10px;
	font-size: 20px;
}

.card-carrera .card-text p{
	color: black;
	font-size: 14px;
}

.card-carrera .card-button{
	grid-area: button;
	background-color: var(--amarillo);
	color: var(--azul);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 18px;
	transition: .5s ;
}

.card-carrera .card-button i{
	margin-left: 10px;
}

.card-carrera .card-button:hover{
	transform: scale(1.2);
	background-color: var(--azul);
	color: var(--blanco);
}


/* S FOOTER */
.footer {
	position: relative;
	background: var(--amarillo);
	padding: 0rem 2rem;
	display: flex;
	flex-direction: column;
	color: var(--blanco);
	margin-top: 120px;
}

.footer .footer-nav {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	gap: 50px 100px;
	padding: 20px 0px;
}

.footer .footer-nav .footer-list {
	list-style: none;
	min-width: 300px;
	max-width: 450px;
}

.footer .footer-nav .footer-list .footer-title {
	position: relative;
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: 20px;
	color: var(--azul);
	text-transform: uppercase;
}

.footer .footer-nav .footer-list .footer-title::before {
	content: '';
	position: absolute;
	background: var(--blanco);
	width: 0;
	height: 3px;
	bottom: -5px;
	left: 0;
	transition: 0.3s ease;
}

.footer .footer-nav .footer-list .footer-title:hover::before {
	width: 50%;
}

.footer .footer-nav .footer-list .footer-link {
	margin-top: 10px;
}

.footer .footer-nav .footer-list .footer-link a {
	font-size: 1rem;
	font-weight: 400;
	transition: 0.3s ease;
}

.footer .footer-nav .footer-list .footer-link i {
	font-size: 1rem;
	font-weight: 500;
	transition: 0.3s ease;
}

.footer .footer-nav .footer-list .footer-link:hover a {
	font-size: 1.05rem;
}

.footer .footer-nav .footer-list .footer-link:hover i {
	transform: scale(2);
}

.footer .footer-brand {
	text-align: center;
}

.footer .footer-copy {
	position: relative;
	text-align: center;
	margin-bottom: 2rem;
	color: var(--azul);
	margin-top: 2rem;
}

.footer .footer-copy::before {
	position: absolute;
	content: '';
	background: var(--blanco);
	width: 76%;
	height: 2px;
	top: -10px;
	left: 12%;
}

.footer .footer-brand .footer-img {
	max-height: 8em;
}

.footer .wave {
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100px;
	background: url(../img/wave.png);
	background-size: 1000px 100px;

}

.footer .wave#wave1 {
	z-index: 1000;
	opacity: 1;
	bottom: 0;
	animation: animateWave1 4s linear infinite;
}

.footer .wave#wave2 {
	z-index: 999;
	opacity: 0.5;
	bottom: 10px;
	animation: animateWave2 4s linear infinite;
}

.footer .wave#wave4 {
	z-index: 997;
	opacity: 0.7;
	bottom: 40px;
	animation: animateWave1 3s linear infinite;
}

.footer .wave#wave3 {
	z-index: 998;
	opacity: 0.2;
	bottom: 40px;
	animation: animateWave2 3s linear infinite;
}



@keyframes animateWave1 {
	0% {
		background-position-x: 1000px;
	}

	100% {
		background-position-x: 0px;
	}

}

@keyframes animateWave2 {
	0% {
		background-position-x: 0px;
	}

	100% {
		background-position-x: 1000px;
	}

}




/* WAVES */
.wave-top {
	height: 200px;
	width: 100em;
	background: url(../img/wave2.svg) no-repeat;
	background-size: cover;
	background-color: var(--amarillo);
}

.wave-bot {
	height: 100px;
	width: 100%;
	background: url(../img/wave1.svg) no-repeat;
}

/* S BUTTON */

.button {
	width: 9em;
	height: 3em;
	border-radius: 30em;
	font-size: 15px;
	border: none;
	position: relative;
	overflow: hidden;
	z-index: 1;
	background-color: var(--grisclaro);
}

.button:hover {
	cursor: pointer;
}

.button::before {
	content: '';
	width: 0;
	height: 3em;
	border-radius: 30em;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(to right, #f3db00 0%, #F38000 100%);
	transition: .5s ease;
	display: block;
	z-index: -1;
}

.button:hover::before {
	width: 9em;

}


.button.download {
	width: 15em;
	background-color: var(--azul);
	color: var(--blanco);
}

.button.download::before {
	background-image: linear-gradient(to right, #f3db00 0%, #F38000 100%);

}

.button.download:hover::before {
	width: 15em;
}


.button2 {
	width: 15rem;
	height: 4rem;
	font-size: 18px;
	border: none;
	text-transform: uppercase;
	background-color: var(--azul);
	color: var(--blanco);
	cursor: pointer;
	transition: 0.5s ease;
}

.button2:hover {
	background-color: var(--amarillo);
	color: var(--azul);
}


/* HERO */

.hero {
	position: relative;
	width: 100%;
	height: 24rem;
	z-index: 990;
}

.hero::before {
	z-index: 777;
	content: '';
	position: absolute;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 49%, rgba(0, 36, 121, 0.7707457983193278) 100%);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero-title {
	z-index: 778;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 10%);
	font-size: 4rem;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	margin: auto;
	color: var(--blanco);
	height: 200px;
	width: 80%;
}

/* NOSOTROS */
.imagen-texto {

	background-size: 55%;
	background-color: var(--blanco);
	overflow: hidden;
	padding: 0;
	animation: fadeInUp 2s ease;
}

.imagen-texto.historia {
	background: url(../img/nosotros.png) no-repeat left;

}

.imagen-texto.pintura {
	background: url(../img/pintura.png) no-repeat left;
}

.imagen-texto.escultura {
	background: url(../img/escultura-1.png) no-repeat left;
}

.imagen-texto.musica {
	background: url(../img/musica.png) no-repeat left;
}

.imagen-texto.artes-visuales {
	background: url(../img/artes-visuales.png) no-repeat left;
}


.imagen-texto .container {
	width: 55%;
	background-color: var(--blanco);
	padding: 80px;
	float: right;

}

.imagen-texto .container .text,
.imagen-texto .container .title2 {
	animation: fadeInRight 2s ease;
}

.imagen-texto .container ul {
	padding-left: 40px;
}

.mision {
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px 100px;
}

.mision .box {
	position: relative;
	width: 600px;
	background-color: var(--azul);
	color: var(--blanco);
	padding: 100px 40px 60px;
	box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
	text-align: center;
	animation: fadeInUp 2s ease;
}

.mision .box::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--amarillo);
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.5s;
}

.mision .box:hover::before {
	transform: scaleY(1);
	transform-origin: bottom;
	transition: transform 0.5s;
}

.mision .box h2 {
	position: relative;
	color: var(--amarillo);
	z-index: 2;
	transition: 0.5s ease;
}

.mision .box:hover h2 {
	color: var(--azul);
}


.mision .box i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 200px;
	z-index: 1;
	opacity: 0;
	transition: 0.5s;
}

.mision .box:hover i {
	opacity: 1;
	font-size: 100px;
	color: var(--azul);
	transform: translate(-50%, -240%);
}

.mision .box p {
	position: relative;
	z-index: 2;
	transition: 0.5s;
}

.mision .box:hover p {
	color: black;
}

/* CARRERAS */

.competencias {
	margin-top: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	display: flex;
	text-align: center;
}

.lista-competencias {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px 50px;
}

.lista-competencias .competencia {
	position: relative;
	width: 400px;
	height: 200px;
	background-color: var(--amarillo);
	border-left: 10px solid var(--azul);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 30px 20px 30px 5px;
}

.competencia .text h3 {
	text-transform: uppercase;
	text-align: left;
	line-height: 1.5;
}

.competencia .text p {
	margin-top: 10px;
	font-size: 13px;
	line-height: 1.5;
}

.competencia .icon img {
	height: 80px;
	color: var(--blanco);
	filter: invert(1);
}

/* PERSONAL DOCENTE */
.docentes {
	display: flex;
	padding: 50px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 50px 30px;
	animation: fadeInUp 2s ease;
}

.docentes .docente {
	width: 250px;
	height: 300px;
	background: #f5f5f5;
	color: #252525;
	border-radius: 4px;
	overflow: hidden;
	line-height: 150%;
	box-shadow: 0px 10px 20px rgba(80, 80, 80, 0.2);
	transition: box-shadow .3s ease-in-out;
}

.docente-info {
	position: relative;
	width: 100%;
	height: 100px;
	text-align: center;
	transition: transform .3s ease-in-out;
	bottom: 0;
	z-index: 2;
	background-color: var(--azul);
	color: var(--blanco);
}

.docente-img {
	position: relative;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: 1;
}

.docente .docente-info .nombre {
	font-size: 1.4em;
	font-weight: 600;
	line-height: 1.2em;
	padding-top: 10px;
}

.docente .docente-info .cargo {
	letter-spacing: 0px;
	font-size: 0.9em;
	color: var(--amarillo);
}

.docente:hover {
	box-shadow: 0px 15px 30px rgba(80, 80, 80, 0.3);
}

.docente:hover .docente-info {
	transform: translateY(-100px);
}

/* DOCUMENTOS */

.containerD {
	display: flex;
	justify-content: center;
}

.documentos {
	margin-top: 30px;
	width: 700px;
	border-bottom: 20px solid var(--azul);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.documentos h2 {
	text-align: center;
	text-transform: uppercase;
	color: var(--blanco);
	background-color: var(--azul);
	padding: 30px 20px;
	font-size: 24px;
	font-weight: 700;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.documentos ul {
	position: relative;
	background-color: var(--grisclaro);
}

.documentos ul li {
	font-weight: 700;
	text-transform: capitalize;
	list-style: none;
	padding: 15px 30px;
	width: 100%;
	background: var(--grisclaro);
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
	transition: 0.5s ease;
	animation: fadeInUp 1s ease;
}

.documentos ul .doc.hide {
	display: none;
}

.documentos ul li:hover {
	transform: scale(1.1);
	z-index: 100;
	background-color: var(--amarillo);
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.documentos ul li a i {
	float: right;
	font-size: 20px;
}

.documentos ul li a span {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 50px;
	display: inline-block;
	margin-right: 15px;
	background-color: var(--amarillo);
	font-size: 20px;
}

.documentos ul li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	color: var(--azul);
}

.documentos ul li a p {
	display: inline-block;
	font-weight: 600;
}

/* NOTICIAS */
.noticias {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	width: 100%;
	padding: 50px 100px;
}

.noticias .post {
	width: 1000px;
	height: fit-content;
	background-color: var(--blanco);
	display: flex;
	justify-content: center;
	animation: fadeInRight 2s ease;
}

.post .post-hero {
	width: 550px;
	max-height: 600px;
	display: flex;
	align-items: center;
}

.post .post-hero img {
	width: 100%;
	max-height: 100%;
}

.post .post-content {
	width: 450px;
	padding: 10px 30px;
	display: flex;
	flex-direction: column;
	position: relative;
	border-bottom: solid 1px var(--azul);
}

.post .post-date p {
	font-size: 10px;
	text-transform: uppercase;
	margin-bottom: 10px;
	letter-spacing: 2px;
	display: inline-block;

}

.post .post-date p span {
	color: var(--amarillo);
}

.post-content .line {
	background-color: var(--amarillo);
	width: 26px;
	height: 2px;
	margin-bottom: 20px;
}

.post-content h3 {
	text-transform: uppercase;
	color: var(--azul);
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 30px;
}

.post-content>p {
	line-height: 2;
	margin-bottom: 20px;
	font-size: 14px;
	text-align: justify;
}

.post-content>a {
	width: fit-content;
	margin-bottom: 30px;
}

.post-content .post-meta p {
	position: absolute;
	bottom: 10px;
	left: 30px;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 0;
	letter-spacing: 3px;
	/* display: inline-block; */
	color: var(--amarillo);
}

.post-content .post-meta p span {
	margin-left: 15px;
	color: var(--azul);
}

/* BIBLIOTECA VIRTUAL */
.libros {
	display: flex;
	padding: 50px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 50px 50px;
	animation: fadeInUp 2s ease;
}

.libros .libro {
	width: 250px;
	height: 320px;
	padding: 2rem 1rem;
	background: var(--blanco);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
	transition: 0.5s ease-in-out;
}

.libros .libro.hide {
	display: none;
}

.libros .libro::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 36, 121, 1) 100%);
	z-index: 2;
	transition: 0.5s all;
	opacity: 0;
}

.libros .libro:hover::before {
	opacity: 1;
}

.libros .libro img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}

.libros .libro .content {
	text-align: center;
	position: absolute;
	width: 100%;
	left: 50%;
	top: 40%;
	transform: translate(-50%, 10%);
	z-index: 3;
	opacity: 0;
	padding: 0px 10px;
	transition: 0.5s ease;
	color: var(--blanco);
}



.libros .libro:hover .content {
	opacity: 1;
}

.libros .libro .content h4 {
	margin-bottom: 20px;
}

.libros .libro .content i {
	font-size: 18px;
}


.biblioteca {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.biblioteca .container-categorias {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px 100px;
}

.biblioteca .categorias {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
	list-style: none;
	background-color: var(--blanco);
	border: 1px solid rgba(53, 52, 52, 0.226);
	width: fit-content;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
	animation: fadeInRight 2s ease;
}

.biblioteca .categorias .list {

	padding: 10px 20px;
	font-weight: 600;
	cursor: pointer;
	color: var(--azul);

}

.biblioteca .categorias .list.active {
	background-color: var(--amarillo);
	color: var(--blanco);
}

/* CONTACTO */

.contacto {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--amarillo);
	position: relative;
}

.contacto::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: url(../img/nosotros.png) no-repeat left;
	background-size: cover;
}

.contacto .container{
	position: relative;
	min-width: 1100px;
	min-height: 600px;
	display: flex;
	z-index: 100;
}

.contacto .container .contacto-info {
	position: absolute;
	top: 40px;
	left: 0;
	width: 350px;
	height: calc(100% - 80px);
	background-color: var(--amarillo);
	z-index: 1;
	padding: 40px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
	animation: fadeInRight 2s ease;
}

.contacto .container .contacto-info h2{
	color: var(--azul);
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}

.contacto-info ul.info{
	position: relative;
	margin: 20px 0;
}

.contacto-info .info li{
	position: relative;
	list-style: none;
	display: flex;
	margin: 20px 0;
	cursor: pointer;
	align-items: flex-start;
} 

.contacto-info .info li span{
	color: var(--blanco);
	
	font-weight: 400;
	display: flex;
	align-items: center;
}

.contacto-info .info li span i{
	color: var(--azul);
	margin-right: 10px;
	font-size: 30px;
}

.contacto-info .redes{
	display: flex;
	list-style: none;
	justify-content: space-between;
}

.contacto-info .redes li i{
	font-size: 50px;
	color: var(--azul);
}

.contacto .container .contacto-form{
	position: absolute;
	padding: 70px 50px;
	padding-left: 230px;
	margin-left: 150px;
	width: calc(100% - 150px);
	height: 100%;
	background-color: var(--blanco);
	box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
	animation: fadeInUp 2s ease;
}

.contacto-form .contacto-heading h2{
	font-weight: 600;
	color: var(--azul);
	font-size: 2rem;
	line-height: 0.9;
	white-space: nowrap;
	margin-bottom: 1.5rem;
}

.contacto-form .contacto-heading h2 span, .contacto-form .contacto-heading p span{
	color: var(--amarillo);
}

.contacto-form .contacto-heading p{
	margin-left: 5px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--azul);
}

.contacto-form form{
	display: grid;
	margin-top: 2rem;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2rem;
	row-gap: 1rem;
}

form .input-group{
	position: relative;
}

form .input-group.w-100{
	grid-column: span 2;
}

form .input-group .input{
	width: 100%;
	border-radius: 20px;
	background-color: var(--grisclaro);
	padding: 1.5rem 2.75rem calc(0.75rem - 2px) 1.35rem;
	border: none;
	outline: none;
	color: var(--azul);
	font-size: 14;
	font-weight: 500;
	transition: 0.3s;
	border: 2px solid transparent;
}

form .input-group .input:hover{
	background-color: var(--grisoscuro);
}

form .input-group label{
	position: absolute;
	top: 50%;
	left: calc(1.35rem + 2px);
	transform: translateY(-50%);
	font-weight: 600;
	font-size: 14px;
	color: var(--text-muted);
	pointer-events: none;
	transition: 0.3s;
}

form .input-group i{
	position: absolute;
	right: calc(1.35rem + 2px);
	top: 50%;
	transform: translateY(-50%);
	font-size: 25px;
	color: var(--azul);
	pointer-events: none;
}

form .input-group textarea.input{
	resize: none;
	width: 100%;
	min-height: 150px;
}

form .input-group.textarea > label{
	top: 1.2rem;
	transform: none;
}

form .input-group.textarea > i{
	top: 1.2rem;
	transform: none;
}

form .input-group.focus .input{
	border: 2px solid var(--azul);
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

form .input-group.focus label{
	color: var(--azul);
}

form .input-group.not-empty label{
	font-size: 0.6rem;
	top: 0.75rem;
	transform: translateY(0);
}

.mapa-container{
	width: 100%;
	height: 600px;
	background-color: var(--azul);
	justify-content: center;
	align-items: center;
	margin-bottom: 200px;
}

.mapa-container h2{
	color: var(--blanco);
	text-align: center;
	padding: 20px 0;
	font-weight: 600;
	font-size: 3vw;
}

.mapa-container .mapa{
	width: 100%;
	height: 90%;
	background-color: var(--azul);
}

.mapa-container .mapa iframe{
	width: 100%;
	height: 100%;
}

/* ACTAS */

.actas{
	width: 100%;
	padding: 50px 100px;
	display: flex;
	justify-content: space-around;
	gap: 100px;
}

.actas .title2{
	font-size: 40px;
}


.actas .container{
	display: flex;
	flex-direction: column;
	gap: 30px;
	flex: 5;
}

.actas .aside{
	flex: 3;

}

.grupo-actas .acta{
	font-weight: 700;
	text-transform: capitalize;
	list-style: none;
	padding: 15px 30px;
	width: 100%;
	background: var(--grisclaro);
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
	transition: 0.5s ease;
	animation: fadeInUp 1s ease;
}

.grupo-actas .acta:hover {
	transform: scale(1.07);
	z-index: 100;
	background-color: var(--amarillo);
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.grupo-actas .acta a{
	color: var(--azul);
}

.grupo-actas .acta a i {
	float: right;
	font-size: 20px;
}

/* ANIMATIONS */

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}

}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}

}


/* MEDIA QUERYS */

@media(max-width: 1200px) {

	.home {
		padding: 2rem 3rem;
	}

	.home .content {
		width: 80%;
		margin-top: 10px;
	}

	.header .menu-btn {
		display: inline-block;
	}

	.header {
		padding: 12px 0;
	}

	.header .menu {
		position: fixed;
		right: 0;
		top: 0;
		width: 320px;
		height: 100%;
		background-color: var(--amarillo);
		padding: 15px 30px 30px;
		overflow-y: auto;
		z-index: 1;
		transform: translateX(100%);
	}

	.header .menu.active {
		transform: none;
	}

	.header .menu .head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 25px;
	}

	.header .menu .close-menu-btn,
	.header .menu .open-menu-btn {
		color: var(--blanco);
		font-size: 2.5rem;
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		cursor: pointer;
		border: none;
	}

	.header .menu ul li {
		display: block;
	}

	.header .menu ul li:not(:last-child) {
		margin-right: 0;
	}

	.header .menu li {
		border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
	}

	.header .menu li:first-child {
		border-top: 1px solid hsla(0, 0%, 100%, 0.25);

	}

	.header .menu .menu-item {
		margin: 10px 0;
	}

	.header .menu ul .dropdown a {
		padding-right: 34px;
	}

	.header .menu .sub-menu {
		position: static;
		opacity: 1;
		transform: none;
		visibility: visible;
		padding: 0;
		transition: none;
		box-shadow: none;
		width: 100%;
		display: none;
	}

	.header .menu .sub-menu li:last-child {
		border: none;
	}

	.header .menu .open-menu-btn {
		display: inline-flex;
		justify-content: center;
	}

	.title {
		font-size: 5vw;
	}

	.menu-btn {
		display: flex;
		font-size: 2.8rem;
		color: var(--blanco);
		cursor: pointer;
		transition: 0.3s ease;
	}

	.menu-btn.active {
		z-index: 999;
		transition: 0.3s ease;
	}

	.imagen-texto {
		background-size: 100%;
		padding: 0px 40px;
	}

	.imagen-texto .container {
		width: 100%;
		padding: 50px;
		float: none;
	}


	.mision {
		padding: 50px;

	}

	.hero-title {
		font-size: 3.5rem;
	}

	.noticias {
		padding: 30px 30px;
	}

	.noticias .post {
		width: 100%;

	}

	.post .post-hero {
		width: 50%;
		max-height: 450px;

	}

	.post .post-content {
		width: 50%;
		padding: 10px 20px;
	}


	.contacto .container {
		max-width: 95vw;
		min-width: auto;
		margin: 20px;
		height: 600px;
	}

	.contacto::before {
		width: 100%;
	}

	.contacto .container .contacto-info{
		position:static;
		padding: 70px 40px;
		height: 100%;
	}

	.contacto .container .contacto-form{
		position:static;
		padding-left: 50px;
		margin-left: 0px;
	}

	.contacto-form .contacto-heading h2{
		font-size: 22px;
		font-weight: 600;
	}

	.contacto-form .contacto-heading p{
		font-size: 10px;

	}

	.contacto .container .contacto-info h2{
		font-size: 22px;
	}

	.contacto-info .info li span{
		font-weight: 300;
	}
	
	.contacto-form form{
		column-gap: .75rem;
	}

	.actas{
		padding: 50px 50px;
		gap: 50px;
	}

	.actas .title2{
		font-size: 30px;
	}
	
	.actas .container{
		gap: 30px;
		flex: 5;
	}
	
	.actas .aside{
		flex: 3;
	}

	.grupo-actas .acta{
		font-weight: 600;
		text-transform: capitalize;
		padding: 15px 10px;
	}

}

@media(max-width: 1000px) {
	.contacto .container {
		display: flex;
		flex-direction: column;
		width: 80%;
		height: auto;
	}


	.contacto .container .contacto-info{
		padding: 20px 30px;
		height: 400px;
		width: 100%;
	}

	.contacto .container .contacto-form h2{
		line-height: 1.5;
		white-space: normal;
	}

	.contacto .container .contacto-form{
		padding: 40px 30px;
		width: 100%;
		height: auto;
		margin-left: 0px;
	}

	.contacto .container .contacto-form .input-group{
		grid-column: span 2;
	}

	.actas{
		padding: 40px 40px;
		gap: 30px;
		flex-direction: column;
	}
	.actas .container{	
		width: 100%;
		flex: 1;
	}
	
	.actas .aside{
		display: flex;
		justify-content: center;
		width: 100%;
		flex: 1;
	}

	.actas .aside .grupo-actas{
		width: 100%;
		max-width: 83vw;
		padding: 0 15px;
	}
}

@media(max-width: 800px) {

	.mision {
		padding: 20px 50px;

	}


	.title {
		font-size: 5vw;
	}

	.hero-title {
		font-size: 2.5rem;
	}

	.title2 {
		font-size: 30px;
	}

	.text {
		line-height: 1.5;
	}

	.imagen-texto .container {
		padding: 20px;
	}

	.documentos {
		width: 85%;
	}

	.documentos ul .doc {
		font-weight: 700;
		font-size: 13px;
		padding: 15px 10px;
		line-height: 1.5;
	}

	.documentos ul li a span {
		display: none;
	}

	.documentos ul li a {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.noticias {
		gap: 50px
	}

	.noticias .post {
		flex-direction: column;
		align-items: center;
	}

	.post .post-hero {
		width: 60%;
		max-height: 450px;
	}

	.post .post-hero img {
		max-height: 450px;
	}

	.post .post-content {
		width: 85%;
		padding: 10px 20px;
	}

	.post-content h3 {
		font-size: 18px;
		margin-bottom: 15px;
	}

	.post-content>p {
		line-height: 1.5;
		font-size: 12px;
		margin-bottom: 30px;
	}

	.lista-carreras{
		padding: 20px;
	}
	
	.card-carrera{
		grid-template-columns: 270px;
	}
}

@media(max-width:576px) {


	.title {

		font-weight: 600;
		text-transform: uppercase;
		color: var(--azul);

	}

	.hero-title {
		font-size: 2rem;
	}

	.post .post-hero {
		max-height: 300px;
	}

	.post .post-hero img {
		max-height: 300px;
	}

	.post .post-content {
		width: 100%;
		padding: 0;
	}

	.post .post-content a{
		margin-bottom: 35px;
	}

	.post .post-content .post-meta p{
		font-size: 9px;
		letter-spacing: 2px;
		left: 0;
	}

	.lista-competencias .competencia {
		width: 300px;
		height: 175px;
		gap: 10px;
	}

	.competencia .icon img {
		height: 50px;
	}

	.competencia .text h3 {
		line-height: 1.5;
		font-size: 15px;
	}

	.competencia .text p {
		margin-top: 10px;
		font-size: 11px;
		line-height: 1.5;
	}

	.documentos h2 {
		padding: 20px 15px;
		font-size: 18px;
		font-weight: 700;
	}

	.contacto .container {
		width: 100%;
	}

	.contacto .container .contacto-form{
		padding: 30px 15px;
		width: 100%;
	}

	.contacto-form .contacto-heading h2{
		font-size: 18px;
		line-height: .8;
		margin-bottom: 5px;
	}		

	.contacto-form .contacto-heading p{
		font-size: 8px;
	}

	.contacto .container .contacto-info h2{
		font-size: 18px;
	}

	.contacto-info .info li span{
		font-size: 13px;
	}

	.actas{
		padding: 20px;
		gap: 30px;
	}

	.actas .title2{
		font-size: 20px;
	}

	.actas .container{	
		width: 100%;
		max-width: 100vh;
		padding: 0;
	}
	
	.actas .aside .grupo-actas{
		max-width: 100vw;
		padding: 0;
	}

}