:root {
	--amarillo: #f4a227ff;
	--azul: #002479;
	--blanco: #f7fff7ff;
	--grisclaro: #7698b3ff;
	--grisoscuro: #738290ff;

}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
	color: var(--blanco);
}

/* S HEADER */

header {
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 200px;
	transition: 0.5s ease;
}

header .img-brand {
	max-height: 3.5rem;
}

header .navigation .navigation-items a {
	position: relative;
	color: var(--blanco);
	font-size: 1em;
	font-weight: 700;
	text-decoration: none;
	margin-left: 30px;
	transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
	content: '';
	position: absolute;
	background: var(--amarillo);
	width: 0;
	height: 3px;
	bottom: -3px;
	left: 0;
	transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
	width: 100%;
}

.menu-btn {
	display: none;
}

/* ********* */

/* S HOME */
.home {
	padding: 7rem 10rem;
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: #2696E9;
}

.home::before {
	z-index: 777;
	content: '';
	position: absolute;
	background: rgba(3, 96, 251, 0.3);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.home .content {
	z-index: 888;
	color: #fff;
	width: 70%;
	margin-top: 50px;
}

.home .content h2 {
	font-size: 4em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: .7;
	margin-bottom: 40px;
	color: var(--amarillo);
}

.home .content h2 span {
	letter-spacing: 0px;
	line-height: .1;
	font-size: 0.4em;
	font-weight: 600;
	color: var(--blanco);
}

.home .content p {
	margin-bottom: 3rem;
}

.home video {
	z-index: 000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/************************/

/* S SLIDER */

.slider-nav{
	z-index: 888;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(80px);
	margin-bottom: 12px;
}

.slider-nav .nav-btn{
	width: 12px;
	height: 12px;
	background: var(--amarillo);
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
	transition: 0.3s ease;
}

.slider-nav .nav-btn:not(:last-child){
	margin-right: 20px;
}

/***************************************/

/* S BUTTON */

.button {
	width: 9em;
	height: 3em;
	border-radius: 30em;
	font-size: 15px;
	border: none;
	position: relative;
	overflow: hidden;
	z-index: 1;

}

.button:hover {
	cursor: pointer;
}

.button::before {
	content: '';
	width: 0;
	height: 3em;
	border-radius: 30em;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(to right, #f3db00 0%, #F38000 100%);
	transition: .5s ease;
	display: block;
	z-index: -1;
}

.button:hover::before {
	width: 9em;

}

/* MEDIA QUERYS */

@media(max-width: 1040px) {
	header {
		padding: 12px 20px;
	}

	.home {
		padding: 2rem 3rem;
	}

	.home .content {
		width: 80%;
		margin-top: 10px;
	}

	header .navigation {
		display: none;
	}

	header .navigation.active {
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(1, 1, 1, 0.5);
	}

	header .navigation .navigation-items a {
		color: var(--blanco);
		font-size: 1.2em;
		margin: 20px;
	}

	header .navigation .navigation-items a::before {
		background: #2696E9;
		height: 5px;

	}

	header .navigation.active .navigation-items {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: var(--amarillo);
		width: 600px;
		max-width: 600px;
		margin: 20px;
		padding: 40px;
		border-radius: 5px;
		box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
	}

	.menu-btn {
		display: flex;
		font-size: 2.8rem;
		color: var(--blanco);
		cursor: pointer;
		transition: 0.3s ease;
	}

	.menu-btn.active {
		z-index: 999;
		transition: 0.3s ease;
	}




}